
.tableList          { overflow: auto; height: 300px; }
.tableList thead { position: sticky; top: 0; z-index: 1; }

table  { border-collapse: collapse; width: 100%; }
th, td { padding: 8px 16px; }
thead,th     { background:#fff; color: rgb(107, 107, 107)}


.flex-contianer {
    display: flex;
    justify-content: space-between;
  }


.tableList{
  background-color: #fff;
}
 .assetAddForm{
  background-color: #fff;
 }

 ::placeholder {
  color: rgb(187, 187, 187) !important;
  font-style: italic;
  font-size: small;
}


.mat-form-field-infix{
  padding: 0em 0em 0 0em !important;
  height: 30px !important;
}