
.tableList          { overflow: auto; height: 300px; }
.tableList thead { position: sticky; top: 0; z-index: 1; }

table  { border-collapse: collapse; width: 100%; }
th, td { padding: 8px 16px; }
thead,th     { background:#fff; color: rgb(107, 107, 107)}


.flex-container {
    display: flex;
    justify-content: space-between;
  }


.tableList{
  background-color: #fff;
}
 .assetAddForm{
  background-color: #fff;
 }

 ::placeholder {
  color: rgb(187, 187, 187) !important;
  font-style: italic;
  font-size: small;
}


.mat-form-field-infix{
  padding: 0em 0em 0 0em !important;
  height: 30px !important;
}

* {
    /* border-radius: 0 !important; */
    border-width: 1px;
  }


  

  /**/
  body{
    background: rgb(246, 249, 252);
    margin-top:20px;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: .25rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
}
.me-2 {
    margin-right: .5rem!important;
}


/* centered text on HR */
.strike {
  display: block;
  text-align: left;
  overflow: hidden;
  white-space: nowrap; 
}

.strike > span {
  position: relative;
  display: inline-block;
  color: rgb(95, 95, 95) ;
}

.strike > span:before,
.strike > span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 9999px;
  height: 1px;
  background: rgb(192, 192, 192);
}

.strike > span:before {
  right: 100%;
  margin-right: 10px;
}

.strike > span:after {
  left: 100%;
  margin-left: 5px;
}

/* Check In & Check Out Page */
.fieldsetCustom {
  font-family: sans-serif;
  border: solid 1px;
  border-color: gainsboro;
  color: gray;
  padding: 15px;
}

.fieldsetCustom .legendCustom {
  padding: 5px 5px ;
  font-size: 11px;
}
.legendCustom{
  background: #fff;
}
