
<title>{{title}}</title>
<div class="flex-contianer">
  <span class="fs-5">Dashboard - Assets List</span>
  <span>Total Assets: {{totalAssets}}</span>
</div>
<div *ngIf="!(isLoading | async)">Loading data...</div>
<div class="tableList border shadow-sm">
<table class="table table-striped table-hover fixed-header" *ngIf="assetList">
  <thead>
    <tr>
      <th>Computer Name</th>
      <th>Description</th>
      <th>Status</th>
      <th>Currently Assigned to</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let asset of assetList">
      <td>{{ asset.computerName }}</td>
      <td>{{ asset.description }}</td>
      <td>{{ asset.statusId }}</td>
      <td>{{ asset.employeeId }}</td>
      <td>
          <a class="text-secondary" [routerLink]="['/assets', asset.id]" [routerLinkActive]='["link-active"]'>
            Details
          </a>
      </td>
    </tr>
  </tbody>
</table>
</div>

<h4>Add New Asset</h4>
<form class="needs-validation border p-3 assetAddForm shadow-sm" [formGroup]="assetForm" ngNativeValidate>
  <div class="form-row">
    <div class="col-md-3 mb-3">
      <label for="validationCustom01">Computer Name</label>
      <input type="text" class="form-control" id="validationCustom01" placeholder="JohnDoe's PC" value="Mark" required formControlName="computerName">
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <label for="floatingTextarea2">Description</label>
      <div class="form-floating">
          <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px" formControlName="description"></textarea>
        </div>
    </div>
    <div class="col-md-2">
      <label for="validationCustomUsername">Username</label>
        <div class="" style="font-size: 11px;" >
          <mat-form-field appearance="fill" class="border rounded" style="height: 40px" >
            <mat-label>Status</mat-label>
            <!-- [value]=selectedItem is important to set default or selected value from dropdownlist -->
            <mat-select [value]="selectedItem" formControlName="statusId">
              <mat-option *ngFor="let enum of statusEnum" [value]="enum">
                {{enum}}
              </mat-option>
            </mat-select>
          </mat-form-field>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-3 mb-3">
      <label for="validationCustom03">Make</label>
      <input type="text" class="form-control" id="validationCustom03" placeholder="" required formControlName="make">
      <div class="invalid-feedback">
        Please provide a valid city.
      </div>
    </div>
    <div class="col-md-3 mb-3">
      <label for="validationCustom04">Model Number</label>
      <input type="text" class="form-control" id="validationCustom04" placeholder="" required formControlName="modelNumber">
      <div class="invalid-feedback">
        Please provide a valid state.
      </div>
    </div>
    <!-- <div class="col-md-3 mb-3">
      <label for="validationCustom04">Status</label>
      <input type="text" class="form-control" id="validationCustom04" placeholder="" required formControlName="statusId">
    </div> -->

    
    <!--<div class="col-md-3 mb-3">
      <label for="validationCustom05">Zip</label>
      <input type="text" class="form-control" id="validationCustom05" placeholder="Zip" required formControlName="computerName">
      <div class="invalid-feedback">
        Please provide a valid zip.
      </div>
    </div>-->
  </div>

  <button class="btn btn-dark" type="button" (click)="addItem()" [disabled]="assetForm.invalid">Submit</button>
  <button class="btn btn-dark ms-2" type="button" (click)="reset()">Reset</button>
  <span class="ms-2 text-success" *ngIf="isAddedSuccessfulMessage">{{successfulMessage}}</span>
  <span class="ms-2 text-success" *ngIf="isDeletedSuccessfulMessage">{{successfulMessage}}</span>
</form>


