

<body>
    <div id="login">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <hr>
                <div id="login-column" class="col-md-6  mt-5">
                    <mat-card class="example-card">
                        <mat-card-header>
                          <div mat-card-avatar class="example-header-image"></div>
                        </mat-card-header>
                        <mat-card-content>
                            <form id="login-form" class="form container" action="" method="post">
                                <h3 class="text-center text-secondary">Login Portal</h3>
                                <div class="form-group">
                                    <label for="username" class="text-secondary">Username:</label><br>
                                    <input type="text" name="username" id="username" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="password" class="text-secondary">Password:</label><br>
                                    <input type="text" name="password" id="password" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="remember-me" class="text-secondary"><span>Remember me</span> <span><input id="remember-me" name="remember-me" type="checkbox"></span></label><br>
                                </div>
                                <div class="form-group">
                                    <form action="http://google.com" style="display: inline-block;">
                                        <button mat-raised-button value="submit" type="submit" name="submit">Submit</button>
                                    </form>
                                    <form class="text-right"  style="float:right;">
                                        <div id="register-link" class="text-right">
                                            <a href="#" class="text-secondary">Register here</a>
                                        </div>
                                    </form>
                                </div>

                            </form>
                        </mat-card-content>
                        <mat-card-actions>
                        </mat-card-actions>
                      </mat-card>

                </div>
            </div>
        </div>
    </div>

</body>


