

<body>
    <div id="login" class="mt-5">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6  mt-5">
                    <mat-card class="example-card">
                        <mat-card-header>
                          <div mat-card-avatar class="example-header-image"></div>
                        </mat-card-header>
                        <mat-card-content>
                            <form id="login-form" class="form container" [formGroup]="loginForm">
                                <h3 class="text-center text-secondary">Sign In</h3>
                                <div class="form-group">
                                    <label for="username" class="text-secondary">Username:</label><br>
                                    <input type="text" formControlName="username" name="username" id="username" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label for="password" class="text-secondary">Password:</label><br>
                                    <input type="text" name="password" formControlName="password" id="password" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label for="remember-me" class="text-secondary"><span>Remember me</span> <span><input id="remember-me" name="remember-me" type="checkbox"></span></label><br>
                                </div>
                                <div class="form-group">
                                    <div action="http://google.com" style="display: inline-block;">
                                        <button mat-raised-button value="submit" [routerLink]="['/home']" type="submit" name="submit" [disabled]="loginForm.invalid" (click)="login()">Submit</button>
                                    </div>
                                    <!-- <div class="text-right"  style="float:right;">
                                        <div id="register-link" class="text-right">
                                            <a href="#" class="text-secondary">Register here</a>
                                        </div>
                                    </div> -->
                                </div>
                                <span>{{responseModel.validationMessage}}</span>
                            </form>
                        </mat-card-content>
                        <mat-card-actions>
                        </mat-card-actions>
                      </mat-card>

                </div>
            </div>
        </div>
    </div>

</body>


